@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* default css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: #000;
    font-family: "Poppins", sans-serif;
}
ul, ol, li, p{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
a{
    text-decoration: none;
    outline: none;
}
input,
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}
figure, .figure, .picture{
    position: relative;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.picture > img,
.picture > iframe,
.picture > video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.custom_container{
    max-width: 1440px;
    margin: 0 auto;
    width: 96%;
}
/* navbar */
header{
    padding: 30px 0;
    background-color: #fff; 
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
#logo {
    display: flex;
    align-items: center;
    gap: 5px;         
}
#logo img {
    width: 80px;            
    height: 80px;
    object-fit: contain;
}
#logo p {
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #333;           
    margin: 0;
}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#links ul {
    cursor: pointer;
    list-style: none;         
    display: flex;            
    gap: 75px;               
    padding: 0;
    margin: 0;
}
#links li {
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}
#links li:hover {
    color: #B88E2F; 
}
#icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#icons ul {
    cursor: pointer;
    list-style: none;         
    display: flex;            
    gap: 45px;               
    padding: 0;
    margin: 0;
}
#icons li img {
    height: 28px;
    width: 28px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#icons li img:hover {
    transform: scale(1.1);  
}
/* shop-bg */
.banner{
    width: 100%;
    background: url(assets/shop-bg.png) no-repeat;
    background-size: cover;
    max-height: 316px;
    min-height: 316px;
    height: 316px;
    position: relative;
}
.banner .custom_container{
    height: 100%;
}
#shop-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#content b {
    font-size: 48px;
    color: #000000;
}
#content pre {
    font-size: 16px;
    margin-top: 10px;
    color: #000000;
}
.banner #content ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* products */
#products {
    width: 100%;
    padding: 40px;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
}
.product_list{
    width: 100%;
    padding: 80px 0;
}
.product_list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 32px;
    justify-content: space-around;
}
.product_list ul li{
    width: calc(100% / 4 - 24px);
    position: relative;
}
.product_list ul li .card-photo {
    position: relative;
    width: 100%;
    height: auto;
}
.product_list ul li .card-photo .picture{
    width: 100%;
    display: block;
    object-fit: cover;
    padding-top: 90%;
}
.product_list ul li .card-photo .tag {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_list ul li .card-photo .tag.red {
    background-color: #E97171;
}
.product_list ul li .card-photo .tag.green {
    background-color: #2EC1AC;
}
.product_list ul li .card-content {
    padding: 16px;
    background-color: #F4F5F7;

}
.product_list ul li .card-content h4 {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}
.product_list ul li .card-content small {
    color: #898989;
    font-size: 16px;
}
.product_list ul li .card-content b {
    display: inline-block;
    margin-top: 8px;
    font-size: 20px;
    color: #3A3A3A;
}
.product_list ul li .card-content i {
    margin-left: 10px;
    color: #B0B0B0;
    text-decoration: line-through;
    font-style: normal;
    font-size: 16px;
}
.product_list ul li .overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0;
    background: rgba(58, 58, 58, 0.72);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    overflow: hidden;
}
.product_list ul li:hover .overlay {
    height: 100%;
}
.product_list ul li .overlay .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.product_list ul li .button button {
    height: 48px;
    width: 202px;
    font-size: 16px;
    /* background-color: #fff; */
    color: #B88E2F;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 12px 52px 12px 59px;
}

.product_list ul li .button p {
    font-size: 16px;
}
.product_list ul li .button button:hover {
    background-color: rgba(255, 255, 255, 1);
}
.product_list .overlay .text .items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.product_list .overlay .text .items ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s;
}
.product_list .overlay .text .items ul li:hover {
    transform: scale(1.1);
}
.product_list .overlay .text .items ul li img {
    width: 20px;
    height: 20px;
}
.banner_btm{
    background-color: rgba(249, 241, 231, 1);
    padding: 22px 0;
}
/* toolbarrr*/
.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid #ddd;
}

.left-tools {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.filter-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}
.filter-btn img{
  width: 25px;
  height: 25px;
}

.view-toggle img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.results {
  font-size: 16px;
  color: #000;
}

.right-tools {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.show-input {
  width: 50px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border: none;
  background-color: #fff;
  font-weight: bold;
}
.sort-select {
  height: 30px;
  padding: 5px;
  border: none;
  background-color: #fff;
  font-weight: bold;
  color: #aaa;
}
.right-tools label{
    font-size: 20px;
}
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 10px;
}
.page-btn {
  background-color: rgba(249, 241, 231, 1);
  border: none;
  color: #333;
  padding: 10px 16px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.page-btn:hover {
  background-color: #f0f0f0;
  border-color: #aaa;
}
.page-btn.active {
  background-color: rgba(184, 142, 47, 1);
  color: rgba(255, 255, 255, 1);
  border-color: #333;
}
.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* info */
.info_main{
    background: #FAF3EA;
    padding: 100px;
}
.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
.item {
    display: flex;
    align-items: center;
    gap: 12px; 
    min-width: auto; 
}
.item img {
    height: 60px; 
    width: 60px;
    flex-shrink: 0; 
}
.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item h4 {
    font-weight: 600;
    font-size: 25px; 
    margin: 0;
    color: #242424;
}
.item p {
    font-weight: 500;
    font-size: 20px;
    color: #898989;
    margin: 4px 0 0 0;
    line-height: 1.2;
}
/* footer */
.footer {
  background: #FFFFFF;
  color: #000;
  border-top: 1px solid #eaeaea;
  padding: 48px 100px 38px 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-column {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-column h2.brand {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}
.footer-column p{
    color: #9F9F9F;
    font-size: 16px;
}

.footer-column h4 {
  font-size: 16px;
  font-weight: 500;
  color: #9F9F9F;
  margin-bottom: 28px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 6px 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.newsletter-form {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-top: 10px;
}

.newsletter-form input {
  border: none;
  outline: none;
  flex: 1;
}

.newsletter-form button {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.footer-bottom {
  text-align: left;
  padding-top: 20px;
  font-size: 12px;
  color: #000000;
  font-size: 16px;
}
/* 1199 */
@media (max-width: 1199px) {
  /* navbar */
  .navbar #links ul {
    gap: 50px;
  }
  .navbar #icons ul {
    gap: 30px; 
  }
  .navbar #logo img {
    width: 60px;
    height: 60px;
  }
  .navbar #logo p {
    font-size: 28px;
  }
  header {
    padding: 20px 0;
  }
  /* shop-bg */
  .banner .custom_container #shop-bg #content b{
    font-size: 40px;
  }
  .banner .custom_container #shop-bg #content ul li{
    gap: 5px;
  }
  /* info_main */
  .info_main .info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .info_main .info .item {
    flex: 0 1 48%;
    margin-bottom: 20px;
  }

}
/* 1024 */
@media (max-width: 1024px){
  .info_main{
    padding: 80px;
  }
  .info_main .info {
    gap: 20px;
  }
  .info_main .info .item {
    flex: 0 1 48%;
  }
  .info_main .info .item .item-content h4{
    font-size: 22px;
  }
  .info_main .info .item .item-content p{
    font-size: 18px;
  }
}
/* 991 */
@media (max-width: 991px) {
  #links ul {
    gap: 30px; 
  }

  #links li {
    font-size: 15px;
  }

  #icons ul {
    gap: 25px;
  }

  #icons li img {
    width: 24px;
    height: 24px;
  }

  #logo img {
    width: 50px;
    height: 50px;
  }

  #logo p {
    font-size: 24px;
  }

  header {
    padding: 15px 0;
  }
}
/* 767 */
@media (max-width: 767px) {
  #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1002; 
  }

  #hamburger span {
    display: block;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  #hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  #hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  #links,
  #icons {
    display: none;
  }

  #links.open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 241, 231, 1);
    padding: 80px 20px 100px 20px;
    z-index: 1000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
  }

  #links ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

  #links ul li{
    font-size: 20px;
  }
    
  #links.open + #icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    z-index: 1001;
  }

  #icons ul {
    display: flex;
    flex-direction: row;
    gap: 45px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #icons li img {
    width: 32px;
    height: 32px;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .banner .custom_container #shop-bg #content b{
    font-size: 35px;
  }

  /* info_main */

  .info_main .info .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .info_main .info .item .item-content h4 {
    font-size: 20px;
  }
  .info_main .info .item .item-content p {
    font-size: 16px;
  }
  .info_main .info .item img {
    height: 50px;
    width: 50px;
  }
  /* toolbar */
  .banner_btm .custom_container .toolbar{
    justify-content: center;
  }
  .banner_btm .custom_container .toolbar .left-tools .filter-btn img{
    height: 22px;
    width: 22px;
  }
  .banner_btm .custom_container .toolbar .left-tools .view-toggle img{
    height: 21px;
    width: 21px;
  }
  .banner_btm .custom_container .toolbar .right-tools label{
    font-size: 18px;
  }
}

@media (max-width: 575px){
  .info_main .info .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .info_main .info .item img {
    margin-bottom: 10px;
  }

  /* shop-bg */
  .banner .custom_container #shop-bg #content b{
    font-size: 30px;
  }
  .banner .custom_container #shop-bg #content ul{
    gap: 3px;
  }
}