* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

#navbar{
    width: 100%;
    max-width: 1440px;
    height: 100px;
    /* Change it to #FFFFFF */
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-item{
    /* Change it to #FFFFFF */
    background-color: #FFFFFF;
    width: 1286px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}   

#logo {
    display: flex;
    align-items: center;
    gap: 5px;              /* Space between logo and text */
    padding-left: 54px;
    width: fit-content;
    height: 41px;
    cursor: pointer;
}

#logo img {
    width: 80px;            /* Adjust logo image size */
    height: 80px;
    object-fit: contain;
}

#logo p {
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #333;            /* Choose a good contrasting color */
    margin: 0;
}


#links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#links ul {
    cursor: pointer;
    list-style: none;         
    display: flex;            
    gap: 75px;               
    padding: 0;
    margin: 0;
}
#links li {
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}
#links li:hover {
    color: #B88E2F; /* Tomato color on hover */
}

#icons{
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#icons ul {
    cursor: pointer;
    list-style: none;         
    display: flex;            
    gap: 45px;               
    padding: 0;
    margin: 0;
}

#icons li img {
    height: 28px;
    width: 28px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#icons li img:hover {
    transform: scale(1.1);  /* Slight zoom effect on hover */
}